* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

video {
  max-width: 100px;
  max-height: 100px;
}

/* .notifi-area {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.no-alert {
  margin: 5px;
}
